@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Special Gothic Expanded';
	src: url('/fonts/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@theme {
	--breakpoint-md: 580px;
	--color-text-primary: #2d6eee;
	--color-text-secondary: #333333;
	--color-background-primary: #e0e0e0;
	--color-background-secondary: #f8f8f8;
}

@layer base {
	* {
		font-family:
			'Special Gothic Expanded',
			-apple-system,
			BlinkMacSystemFont,
			avenir next,
			avenir,
			segoe ui,
			helvetica neue,
			Adwaita Sans,
			Cantarell,
			Ubuntu,
			roboto,
			noto,
			helvetica,
			arial,
			sans-serif;
	}
	body {
		background-color: var(--color-background-primary);
	}
}
