@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--breakpoint-md: 580px;
	--color-text-primary: #2D6EEE;
	--color-text-secondary: #333333;
	--color-background-primary: #E0E0E0;
	--color-background-secondary: #F8F8F8;
}

@layer base {
	* {
		font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
	}
}
